/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .topBar {
        padding: 5px;
    }

    .quoteImg {
        width: auto;
    }

    .navigation,
    .socialLinks {
        float: none;
        width: 100%;
    }

    .socialLinks {
        display: none;
    }

    .navigation ul {
        text-align: center;
    }

    .navigation ul li {
        float: none;
        display: inline-block;
    }

    .navigation li a {
        padding: 15px;
    }

    .logo {
        left: 5vw;
        width: 90vw;
        margin-left: 0;
    }

    .page {
        padding: 10px;
        height: auto;
    }

    .pencilImg {
        display: none;
    }

    .page.quotePage {
        height: calc(100vh - 57px);
    }

    .page.offerPage {
        padding: 0;
    }

    .offerBottom {
        flex-direction: column;
    }

    .offerItem {
        padding: 20px 10px 10px 10px;
    }

    .page.contactPage {
        padding: 0;
    }

    .contactTop {
        height: 150px;
    }

    .contactBottom {
        height: auto;
        padding: 25px 10px 10px 10px;
    }

    .modalShadow {
        z-index: 1000000;
    }

    .modalWrapper {
        width: 90vw;
        height: 90vh;
        margin: -45vh 0 0 -45vw;
        padding: 30px 20px;
        z-index: 10000000;
    }
    
    .modalContent {
        overflow-y: scroll;
        max-height: calc(90vh - 60px);
    }

    .closeModal {
        top: 5px;
        right: 5px;
    }

    .contactTop {
        height: calc(100vh - 57px);
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}